{% extends 'Customer Page.html' %}
{% block body %}
<form method="POST" >
    {% csrf_token %}
    <table class="customers">
        <tr>
                <th>Mechanic Name</th>
                <th>Address</th>
                <th>Contact</th>
                <th>Experience</th>
                <th>District</th>
                <th>Location</th>
                <th>Email</th> 
                <th>Action</th> 
        </tr>
        {% for d in data %}
        <tr>
            <td>{{d.1}}</td>
            <td>{{d.2}}</td>
            <td>{{d.3}}</td>
            <td>{{d.6}}</td>
            <td>{{d.4}}</td>
            <td>{{d.7}}</td>
            <td>{{d.5}}</td>
            <td><a href='/work_request?id={{d.0}}'>Request</a></td>
        </tr>
        {% endfor %}
    </table>
    </form>
    {% endblock %}